app/code/local/NL2go/Sync/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"
					schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="customerCustomerEntityExtended">
				<all>
					<element name="customer_id" type="xsd:int" minOccurs="0"/>
					<element name="created_at" type="xsd:string" minOccurs="0"/>
					<element name="updated_at" type="xsd:string" minOccurs="0"/>
					<element name="increment_id" type="xsd:string" minOccurs="0"/>
					<element name="store_id" type="xsd:int" minOccurs="0"/>
					<element name="website_id" type="xsd:int" minOccurs="0"/>
					<element name="created_in" type="xsd:string" minOccurs="0"/>
					<element name="email" type="xsd:string" minOccurs="0"/>
					<element name="firstname" type="xsd:string" minOccurs="0"/>
					<element name="middlename" type="xsd:string" minOccurs="0"/>
					<element name="lastname" type="xsd:string" minOccurs="0"/>
					<element name="group_id" type="xsd:int" minOccurs="0"/>
					<element name="prefix" type="xsd:string" minOccurs="0"/>
					<element name="suffix" type="xsd:string" minOccurs="0"/>
					<element name="dob" type="xsd:string" minOccurs="0"/>
					<element name="taxvat" type="xsd:string" minOccurs="0"/>
					<element name="confirmation" type="xsd:boolean" minOccurs="0"/>
					<element name="password_hash" type="xsd:string" minOccurs="0"/>
					<element name="gender" type="xsd:string" minOccurs="0"/>
				</all>
			</complexType>
			<complexType name="newsletterSubscriberEntity">
				<all>
					<element name="subscriber_id" type="xsd:int" minOccurs="0"/>
					<element name="subscriber_status" type="xsd:int" minOccurs="0"/>
					<element name="store_id" type="xsd:int" minOccurs="0"/>
					<element name="change_status_at" type="xsd:string" minOccurs="0"/>
					<element name="subscriber_email" type="xsd:string" minOccurs="0"/>
					<element name="total_sales" type="xsd:float" minOccurs="0"/>
					<element name="avg_sales" type="xsd:float" minOccurs="0"/>
					<element name="total_orders" type="xsd:int" minOccurs="0"/>
					<element name="customer_info" type="typens:customerCustomerEntityExtended" minOccurs="0"/>
				</all>
			</complexType>
			<complexType name="ArrayOfNewsletterSubscriberEntity">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="typens:newsletterSubscriberEntity[]"/>
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</types>
	
	<message name="syncNewsletterGetSubscribersRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="for_hours" type="xsd:int"/>
	</message>
	<message name="syncNewsletterGetSubscribersResponse">
		<part name="result" type="typens:ArrayOfNewsletterSubscriberEntity"/>
	</message>
    
	<message name="syncNewsletterSetSubscriptionStatusRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="email" type="xsd:string"/>
		<part name="status" type="xsd:int"/>
	</message>
	<message name="syncNewsletterSetSubscriptionStatusResponse">
		<part name="result" type="xsd:int"/>
	</message>
	
	<portType name="{{var wsdl.handler}}PortType">
	
		<operation name="syncNewsletterGetSubscribers">
			<documentation>Return the customer info for newsletter subscibers</documentation>
			<input message="typens:syncNewsletterGetSubscribersRequest"/>
			<output message="typens:syncNewsletterGetSubscribersResponse"/>
		</operation>
	
		<operation name="syncNewsletterSetSubscriptionStatus">
			<documentation>Update subscriper status</documentation>
			<input message="typens:syncNewsletterSetSubscriptionStatusRequest"/>
			<output message="typens:syncNewsletterSetSubscriptionStatusResponse"/>
		</operation>
    
	</portType>
	<binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="syncNewsletterGetSubscribers">
			<soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
			<input>
				<soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>

		<operation name="syncNewsletterSetSubscriptionStatus">
			<soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
			<input>
				<soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
	</binding>
    
	<service name="{{var wsdl.name}}Service">
		<port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
			<soap:address location="{{var wsdl.url}}"/>
		</port>
	</service>
</definitions>
